.table-reservation {
    background: #7b7b7b;
    padding: 0.5rem;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.door-reservation {
    background-color: wheat;
    border-radius: 15px;
}
.checkbox-button-reserved {
    background-color: red;
    height: 20px;
    border-radius: 3px;
    width: 20px;
    margin: 0.5rem;
}
.checkbox-button-available {
    background-color: green;
    height: 20px;
    border-radius: 3px;
    width: 20px;
    margin: 0.5rem;
    cursor: pointer;
}
